extends layout

block content
    //iframe(id="forum_embed", src="javascript:void(0)", scrolling="no", frameborder="0", width="900", height="700")
    //script(type="text/javascript") document.getElementById('forum_embed').src='https://groups.google.com/forum/embed/?place=forum/5-rivers-squash-website' + '&showsearch=true&output=embed&showpopout=true&showtabs=false' + '&parenturl=' + encodeURIComponent(window.location.href) + '#!forum/5-rivers-squash-website';
    a(href="https://groups.google.com/forum/#!forum/5-rivers-squash-website" target="_blank") 5 Rivers Squash Development Discussion Forum