extends layout

block content

  div(class="container")
    div(class="starter-template")
      h1 Five Rivers Squash Team
      p(class="lead") Five Rivers Squash Team plays in the Five Rivers leisure centre in Salisbury, Wiltshire. They have a number of teams in the Hampshire squash leagues.
      
