doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel='stylesheet', href='/css/style.css')

  body
    header
      nav
        a(id="title" href="/") #{title}
        button(id="menu", type="button", data-toggle="collapse", data-target="#collapsingNavbar") &#9776;
        div(id="collapsingNavbar")
          ul
            li(class="active")
              a(href="/") News
                span(id="activeMarker") (current)
            li
              a(href="/club") Club
            li
              p(href="#") Events
            li
              a(href="/teams") Teams
            li
              span(href="#") Leagues
            li
              p(href="#") Sponsors
            li
              a(href="devforum") Development Forum
    block content
    script(src="/js/jquery.min.js")
    script(src="/js/tether.min.js")
    script(src="/js/bootstrap.min.js")
