doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/css/normalize.css")
    <!--link(rel="stylesheet", href="/css/bootstrap.min.css") -->
    link(rel='stylesheet', href='/style.css')

  body
    header
      nav
        a(id="title" href="#") #{title}
        button(id="menu", type="button", data-toggle="collapse", data-target="#collapsingNavbar") &#9776;
        div(id="collapsingNavbar")
          ul
            li(class="active")
              a(href="#") News
                span(id="activeMarker") (current)
            li
              a(href="#") Teams
            li
              a(href="#") Leagues
            li
              a(href="#") Players
            li
              a(href="#") Sponsors
            li
              a(href="#") Achievements
    block content
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
