extends layout

block content

  div(class="container")
    div(class="starter-template")
      h1 News

      article
        header
          h2 Squash begins at 0-2.
          p.
            It has been scientifically proven that a game of squash does not become memorable until you are down two games to love.
            These are the games where you can either make a memorable comeback, or go out shamefully with a 3-0 drubbing.

          p Regular observers of the game agree with the recent findings.

        footer Published:
          time(pubdate="pubdate") 2016-10-09

      article
        header
          h2 Nick hits Nick
          p.
            Today, there were shocking scenes on a squash court in Salisbury, as a local squash player, Nick Brown, today 'hit the nick'.
            Reports are mixed as to whether the attempt
            was intentional or accidental, however the subsequent celebration proved too much for the packed audience
            to handle, and he was booed off court still twirling his shorts around his finger.

          p It is unclear at this time whether the complaints raised against him will prevent him from competing in the next match.

        footer Published:
          time(pubdate="pubdate") 2018-04-01

      article
        header
          h2 En-suite court facilities to become commonplace.
          p.
            Around the world, squash courts are starting to become places of luxury, with en-suite facilities being added to many courts.
            Clubs are attempting to out-do one another by lavishing on the luxury with bathroom attendants trying to sell you a squirt from
            one of the many little bottles of aftershave left over from the local nightclub.

          p This development has prompted a huge spike in footspa sales.

        footer Published:
          time(pubdate="pubdate") 2012-10-09
