extends layout

block content
    h1 Teams
    p Five Rivers Squash club has several teams that play regularly in the Hampshire leagues. The leagues run from September to May each year.

    article
        h2 Mens Teams
        p Five Rivers currently have three mens teams competing in the Hampshire Squash leagues.

        article
            h3 Five Rivers I
            p Currently playing in Hampshire Squash Division 1 for the 2016/2017 season
            p Team Captain: ABC XYZ
            p
                a(href="http://www.lms2015hantsmens.leagueorganiser.co.uk/fixtures.php?TeamID=33") Hampshire Squash Team Page and Fixtures
            p Past achievements:
            ul
                li 2016 Team Universe award
                li 2015-2016 Division 1
                li 2014-2015 Division 1
                li 2013-2014 Division 2
                li 2014 Division 1/2 Cup winners
                
        article
            h3 Five Rivers II
            p Currently playing in Hampshire Squash Division 3 for the 2016/2017 season
            p Team Captain: ABC XYZ
            p
                a(href="http://www.lms2015hantsmens.leagueorganiser.co.uk/fixtures.php?TeamID=217") Hampshire Squash Team Page and Fixtures
            p Past achievements:
            ul
                li 2015-2016 Division 4, 2nd place promotion
                li 2014-2015 Division 4

        article
            h3 Five Rivers III
            p Currently playing in Hampshire Squash Division 6 for the 2016/2017 season
            p Team Captain: ABC XYZ
            p
                a(href="http://www.lms2015hantsmens.leagueorganiser.co.uk/fixtures.php?TeamID=308") Hampshire Squash Team Page and Fixtures
            p Past achievements:
            ul
                li 2015-2016 Division 5

    article
        h2 Vets Teams
        p Five Rivers currently have two vets teams (for ages 45+) competing in the Hampshire Squash leagues.

        article
            h3 Five Rivers Vets I
            p Currently playing in Hampshire Squash Veterans Premier division for the 2016/2017 season
            p Team Captain: ABC XYZ
            p
                a(href="http://www.lms2015hantsmens.leagueorganiser.co.uk/fixtures.php?TeamID=33") Hampshire Squash Team Page and Fixtures
            p Past achievements:
            ul
                li 2015-2016 Veterans Premier
                li 2014-2015 Veterans Premier
        article
            h3 Five Rivers Vets II
            p Currently playing in Hampshire Squash Veterans Division 1 for the 2016/2017 season
            p Team Captain: ABC XYZ
            p
                a(href="http://www.lms2015hantsmens.leagueorganiser.co.uk/fixtures.php?TeamID=217") Hampshire Squash Team Page and Fixtures
            p Past achievements:
            ul
                li 2015-2016 Veterans Premier
                li 2014-2015 Veterans Division 1




